body,
html {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #ebebeb; }

.load {
  display: none; }
  .load img {
    width: 100%; }

.login {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(#fdbb49, #1264d3);
  display: flex;
  align-items: center;
  justify-content: center; }
  .login .wrapper-login {
    width: 100%;
    max-width: 1140px;
    height: auto;
    min-height: 572px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    background-color: white; }
    .login .wrapper-login .col-image {
      background: linear-gradient(#428DEC, #1264d3);
      padding: 2em; }
      @media (max-width: 991px) {
        .login .wrapper-login .col-image {
          display: none; } }
      .login .wrapper-login .col-image img {
        width: 100%; }
    .login .wrapper-login .col-login {
      overflow: hidden; }
      .login .wrapper-login .col-login .box-login,
      .login .wrapper-login .col-login .box-register,
      .login .wrapper-login .col-login .box-forget-pass {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; }
        .login .wrapper-login .col-login .box-login .content,
        .login .wrapper-login .col-login .box-register .content,
        .login .wrapper-login .col-login .box-forget-pass .content {
          width: 100%; }
          .login .wrapper-login .col-login .box-login .content h1,
          .login .wrapper-login .col-login .box-register .content h1,
          .login .wrapper-login .col-login .box-forget-pass .content h1 {
            text-align: center;
            color: #1264d3;
            line-height: 2.5rem;
            font-weight: 600;
            text-transform: uppercase; }
          .login .wrapper-login .col-login .box-login .content p,
          .login .wrapper-login .col-login .box-register .content p,
          .login .wrapper-login .col-login .box-forget-pass .content p {
            text-align: center;
            color: #1264d3; }
          .login .wrapper-login .col-login .box-login .content form,
          .login .wrapper-login .col-login .box-register .content form,
          .login .wrapper-login .col-login .box-forget-pass .content form {
            margin-top: 60px;
            text-align: center; }
            .login .wrapper-login .col-login .box-login .content form input,
            .login .wrapper-login .col-login .box-register .content form input,
            .login .wrapper-login .col-login .box-forget-pass .content form input {
              width: 100%;
              height: 50px;
              border-radius: 40px;
              border: 0;
              background-image: linear-gradient(to right, #ebebeb, #ccc);
              padding: 5px 25px;
              margin-bottom: 30px;
              outline: none;
              transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
              .login .wrapper-login .col-login .box-login .content form input:hover,
              .login .wrapper-login .col-login .box-register .content form input:hover,
              .login .wrapper-login .col-login .box-forget-pass .content form input:hover {
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transform: translateX(-5px); }
              .login .wrapper-login .col-login .box-login .content form input:focus,
              .login .wrapper-login .col-login .box-register .content form input:focus,
              .login .wrapper-login .col-login .box-forget-pass .content form input:focus {
                border: 2px solid #428DEC; }
            .login .wrapper-login .col-login .box-login .content form button,
            .login .wrapper-login .col-login .box-register .content form button,
            .login .wrapper-login .col-login .box-forget-pass .content form button {
              width: 80%;
              margin: auto;
              height: 50px;
              border-radius: 40px;
              border: 0;
              outline: none;
              text-align: center;
              color: white;
              text-transform: uppercase;
              font-size: 1.3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-image: linear-gradient(to right, #428DEC, #1264d3);
              transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              margin-bottom: 20px; }
              .login .wrapper-login .col-login .box-login .content form button:hover,
              .login .wrapper-login .col-login .box-register .content form button:hover,
              .login .wrapper-login .col-login .box-forget-pass .content form button:hover {
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                width: 100%; }
              .login .wrapper-login .col-login .box-login .content form button:active,
              .login .wrapper-login .col-login .box-register .content form button:active,
              .login .wrapper-login .col-login .box-forget-pass .content form button:active {
                transform: scale(1.1);
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
            .login .wrapper-login .col-login .box-login .content form .forget-password,
            .login .wrapper-login .col-login .box-register .content form .forget-password,
            .login .wrapper-login .col-login .box-forget-pass .content form .forget-password {
              cursor: pointer;
              transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
              .login .wrapper-login .col-login .box-login .content form .forget-password:hover,
              .login .wrapper-login .col-login .box-register .content form .forget-password:hover,
              .login .wrapper-login .col-login .box-forget-pass .content form .forget-password:hover {
                transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transform: translateX(-5px); }
      .login .wrapper-login .col-login .box-register,
      .login .wrapper-login .col-login .box-forget-pass {
        display: none; }
        .login .wrapper-login .col-login .box-register .back-login,
        .login .wrapper-login .col-login .box-forget-pass .back-login {
          width: 100%;
          max-width: 60px;
          cursor: pointer;
          transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
          .login .wrapper-login .col-login .box-register .back-login:hover,
          .login .wrapper-login .col-login .box-forget-pass .back-login:hover {
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: translateX(-10px); }

#header {
  height: 65px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }

#aside {
  width: 260px;
  height: 100vh;
  background-color: #2B2F3A;
  position: fixed;
  left: -200px;
  top: 0;
  transition: all .5s ease-in-out; }
  #aside .aside-top {
    height: 65px;
    background-color: #1E2129;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    #aside .aside-top img {
      width: 25px;
      cursor: pointer; }
  #aside .menu {
    padding: 10px 18px; }
    #aside .menu ul {
      padding: 0;
      margin: 0; }
      #aside .menu ul li {
        color: #7F879B;
        list-style: none;
        cursor: pointer;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #aside .menu ul li:hover {
          transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          color: #fff; }

/*# sourceMappingURL=main.css.map */
