<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{$author}">
    <meta name="description" content="{$description}">
    <title>{$pagetitle}</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/slick/slick.css">
    <link rel="stylesheet" href="/@raven/animations/css/index.css">
    <link rel="stylesheet" href="/css/main.css?v={$cache}">
    <link rel="shortcut icon" href="/@vime/images/raven.png" type="image/x-icon">
</head>

<body>